
## <summary>policy for ballotbox</summary>


########################################
## <summary>
##	Transition to ballotbox.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`ballotbox_domtrans',`
	gen_require(`
		type ballotbox_t, ballotbox_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, ballotbox_exec_t, ballotbox_t)
')


########################################
## <summary>
##	Execute ballotbox server in the ballotbox domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`ballotbox_initrc_domtrans',`
	gen_require(`
		type ballotbox_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, ballotbox_initrc_exec_t)
')


########################################
## <summary>
##	Search ballotbox lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`ballotbox_search_lib',`
	gen_require(`
		type ballotbox_var_lib_t;
	')

	allow $1 ballotbox_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read ballotbox lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`ballotbox_read_lib_files',`
	gen_require(`
		type ballotbox_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, ballotbox_var_lib_t, ballotbox_var_lib_t)
')

########################################
## <summary>
##	Manage ballotbox lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`ballotbox_manage_lib_files',`
	gen_require(`
		type ballotbox_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, ballotbox_var_lib_t, ballotbox_var_lib_t)
')

########################################
## <summary>
##	Manage ballotbox lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`ballotbox_manage_lib_dirs',`
	gen_require(`
		type ballotbox_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, ballotbox_var_lib_t, ballotbox_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a ballotbox environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`ballotbox_admin',`
	gen_require(`
		type ballotbox_t;
		type ballotbox_initrc_exec_t;
		type ballotbox_var_lib_t;
	')

	allow $1 ballotbox_t:process { ptrace signal_perms };
	ps_process_pattern($1, ballotbox_t)

	ballotbox_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 ballotbox_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, ballotbox_var_lib_t)

')

